# Python / PyTorch temporary files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Virtual environments & Local data
venv/
env/
data/
*.png
*.jpg
*.csv

# Model ağırlıklarının ve checkpoint dosyalarının GitHub'a gitmesini engellemek için
checkpoints/
*.pth
*.ckpt
